@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

<style>
    html, body, .page, main {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>